body.home,
body.page-template-alt-home {
	
	
	.site-header-logo {
		display: none;
	}
}

.home-hero-image {
	background-image: url(../img/home.jpg);
	background-size: cover;
	height: 85vh;
	
	img {
		margin: 0 auto;
		max-width: rem-calc(400);
		padding-top: rem-calc(32);
		
		display: block;
	}
}


.home-container {
	@include xy-grid-container(60rem);
	
	background: $white;
	border: 1px solid $light-gray;
	margin-top: rem-calc(60);
}

.home-hero {
    margin: 0 auto;
    max-width: rem-calc(1000);
    padding: rem-calc(16);
    
    img {
	    height: 100%;
	    margin: 0 auto;
	    width: 65%;
	    
	    display: block;
    }
    
    
}

.home-hero-content {
	margin: 0 auto;
	max-width: rem-calc(700);
	
	
	p {
	    font-size: rem-calc(16);
	    text-align: center;
    }
    
    .button-container {
	    display: flex;
	    justify-content: center;
	    
	    button {
		    background: $secondary;
		    
		    &:hover {
			    background: darken($secondary, 5%);
		    }
	    }
    }
}



.home-callouts {
	
    @include xy-grid;
    
    a {
	    color: $black;
	    
	    h2 {
		    font-family: $title-font;
		    font-size: rem-calc(20);
		    font-weight: 300;
		    text-align: center;
		    text-transform: uppercase;
		    
		    padding-bottom: rem-calc(8);
		    
		    display: block;
		    
		    position: relative;
		    
		    &:before,
		    &:after {
			    content: '';
			    
			    border-bottom: 1px solid $dark-gray;
			    width: 25%;
			    
			    position: absolute;
			    bottom: 50%;
		    }
		    
		    &:before {
			    left: 0;
		    }
		    
		    &:after {
			    right: 0;
		    }
	    }
	    
	    .callout-image {
		    position: relative;
		    background: $secondary;
		    
			overflow: hidden;
		    
		    img {
			    
			    
			    display: block;
			    
			    opacity: 0.95;
				transition: opacity 0.35s, transform 0.35s;
				transform: scale3d(1.05,1.05,1);
		    }
	    }
	    
	    figcaption {
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

		    &:before {
			    content: '';
			    
			    background: rgba(255,255,255,0.5);
			    height: 100%;
			    width: 100%;
				
			    
			    position: absolute;
				top: 0;
				left: 0;
				
				transition: transform 0.6s;
				transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
		    }
			
	    }
	    
	    
	    
	    
	    &:hover {
		    img {
			    opacity: 0.6;
				transform: scale3d(1,1,1);
		    }
		    
		    figcaption {
			    &:before {
			    	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
			    }
		    }
	    }
	    
		@include breakpoint(small) {
  			@include xy-cell(12);
		}
	
	    @include breakpoint(medium) {
		    @include xy-cell(4);
	    }
    }
}



// ALT HOME

body.page-template-alt-home {
	background: none;
	
	.home-container {
		border: none;
	}
	
	.home-callouts {
		a {
			h2 {
				&:before, 
				&:after {
					width: 20%;
				}
			}
		}
	}
}

// Page header
.front-hero {
  .marketing {
    @include xy-grid-container(55rem);
    @include xy-grid;
  }

  @include breakpoint(small) {
    background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
    background-size: cover;
    background-position: bottom;
    padding: rem-calc(65%) 0;
    margin: 0 0 rem-calc(32);
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background: url('../images/demo/hero-bg-foundation-6-large.svg') bottom center;
    background-size: cover;
    background-position: center;
    height: rem-calc(685);
    margin: 0 0 rem-calc(72);
  }

  .watch {
    @include breakpoint(small) {
      @include xy-cell(7);
    }

    @include breakpoint(medium) {
      @include xy-cell(12);
    }

    a {
      color: #B4C9D1;
      cursor: pointer;
      font-weight: 400;
      margin-right: rem-calc(20);
    }

    a:hover {
      color: #fff;
    }

    #stargazers {
      :before {
        content: "\f09b";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: rem-calc(8);
      }
    }

    #twitter {
      :before {
        content: "\f099";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #B4C9D1;
        margin-right: rem-calc(8);
      }
    }

  }

  .tagline {
    @include breakpoint(small) {
      @include xy-cell(8);
    }

    @include breakpoint(medium) {
      @include xy-cell(5);
      padding-top: 6rem;
    }
  }

  h1 {
    color: #fff;
    font-weight: 500;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: rem-calc(20);
  }
}

// Intro
.intro {
  @include xy-grid-container;
  @include xy-grid;

  .fp-intro {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(10);
      @include xy-cell-offset(1);

      h2 {
        font-weight: 300;
        margin-bottom: 1.5rem;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
  }
}

// Section divider
.section-divider {
  @include xy-grid-container;
  @include xy-grid;

  hr {
    @include xy-cell(12);
    @extend .dotted;
    box-sizing: border-box;
  }
}

// Benefits
.benefits {
  @include xy-grid-container;
  @include xy-grid;
  text-align: center;

  header {
    @include xy-cell(12);

    h2 {
      font-weight: 300;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }

  .semantic,
  .responsive,
  .customizable,
  .professional {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(3);
    }

    img {
      padding: 1.25rem;
      margin: 1rem auto 0 auto;
    }

    h3 {
      color: #0a0a0a;
      font-weight: 300;
      font-size: 1.75rem;
    }

    p {
      font-size: 0.9375rem;
    }
  }

  .why-foundation {
    @include xy-cell(12);
    margin-top: 4rem;
  }
}
