// TEAM
.team-display {
	
	article {
		
		border-bottom: 1px solid $medium-gray;
		margin-bottom: rem-calc(8);
		padding: rem-calc(8) 0;
				
		h3, h5 {
			margin-bottom: 0;
		}
		
		h3 {
			color: $primary-color;
			text-transform: none;
		}
	
	    
	    
	}
	
	&.secondary {
		@include xy-grid();
		article {
		    @include xy-cell(4);
		    
		    border-bottom: none;
		    
		    h3, h5 {
			    text-align: center;
			    text-transform: none;
		    }
		    
		     h3 {
			     color: $primary-color;
			     font-size: rem-calc(22);
			 }
		     
		     h5 {
			     font-size: rem-calc(16);
		     }
		     
		     @include breakpoint(small only) {
		      @include xy-cell(12);
		      
		      border-bottom: 1px solid $medium-gray;
		    }
		    
	    }
	}
}


.team-member-photo {
	background-position: center top;
	background-size: cover;
	border-radius: 100%;
	height: rem-calc(150);
	margin: 0 auto rem-calc(8);
	width: rem-calc(150);
}